<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.mengweijin.relx.mapper.GoodsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.github.mengweijin.relx.entity.Goods">
    <result column="ID" property="id"/>
    <result column="CREATE_BY" property="createBy" />
    <result column="CREATE_TIME" property="createTime" />
    <result column="UPDATE_BY" property="updateBy" />
    <result column="UPDATE_TIME" property="updateTime" />
    <result column="NAME" property="name" />
    <result column="GOODS_TYPE_ID" property="goodsTypeId" />
    <result column="AMOUNT" property="amount" />
    <result column="UNIT" property="unit" />
    <result column="PRICE" property="price" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        t.ID,
        t.CREATE_BY,
        t.CREATE_TIME,
        t.UPDATE_BY,
        t.UPDATE_TIME,
        t.NAME,
        t.GOODS_TYPE_ID,
        t.AMOUNT,
        t.UNIT,
        t.PRICE
    </sql>
    <!-- 查询条件 -->
    <sql id="Where_Condition">
        <where>
            <if test="p.name != null and p.name != ''">
                and t.NAME = #{p.name}
            </if>
            <if test="p.goodsTypeId != null">
                and t.GOODS_TYPE_ID = #{p.goodsTypeId}
            </if>
            <if test="p.amount != null">
                and t.AMOUNT = #{p.amount}
            </if>
            <if test="p.unit != null and p.unit != ''">
                and t.UNIT = #{p.unit}
            </if>
            <if test="p.price != null">
                and t.PRICE = #{p.price}
            </if>
            <if test="p.id != null">
                and t.ID = #{p.id}
            </if>
            <if test="p.createBy != null and p.createBy != ''">
                and t.CREATE_BY = #{p.createBy}
            </if>
            <if test="p.createTime != null">
                and t.CREATE_TIME = #{p.createTime}
            </if>
            <if test="p.updateBy != null and p.updateBy != ''">
                and t.UPDATE_BY = #{p.updateBy}
            </if>
            <if test="p.updateTime != null">
                and t.UPDATE_TIME = #{p.updateTime}
            </if>
        </where>
    </sql>

    <select id="selectPageVO" resultType="com.github.mengweijin.relx.entity.Goods">
        select
        <include refid="Base_Column_List"/> ,
        t2.NAME as goods_type_name

        from RELX_GOODS t
        left join RELX_GOODS_TYPE t2 on t.GOODS_TYPE_ID = t2.id
        <include refid="Where_Condition"/>
        order by t.GOODS_TYPE_ID
    </select>
</mapper>
