<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.mengweijin.relx.mapper.StockDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.github.mengweijin.relx.entity.StockDetail">
    <result column="ID" property="id" />
    <result column="CREATE_BY" property="createBy" />
    <result column="CREATE_TIME" property="createTime" />
    <result column="UPDATE_BY" property="updateBy" />
    <result column="UPDATE_TIME" property="updateTime" />
    <result column="STOCK_ID" property="stockId" />
    <result column="GOODS_TYPE_ID" property="goodsTypeId" />
    <result column="GOODS_ID" property="goodsId" />
    <result column="AMOUNT" property="amount" />
    <result column="DELETED" property="deleted" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        t.ID,
        t.CREATE_BY,
        t.CREATE_TIME,
        t.UPDATE_BY,
        t.UPDATE_TIME,
        t.STOCK_ID,
        t.GOODS_TYPE_ID,
        t.GOODS_ID,
        t.AMOUNT,
        t.DELETED
    </sql>

    <select id="selectStockDetailVOByStockId" resultType="com.github.mengweijin.relx.vo.StockDetailVO">
        select
        <include refid="Base_Column_List"/> ,
        t2.NAME as goods_type_name,
        t3.NAME as goods_name,
        t3.UNIT as goods_unit

        from RELX_STOCK_DETAIL t
        left join RELX_GOODS_TYPE t2 on t.GOODS_TYPE_ID = t2.id
        left join RELX_GOODS t3 on t.GOODS_ID = t3.id
        <where>
            t.STOCK_ID = #{stockId}
        </where>
    </select>
</mapper>
